.app {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.settings {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.setting {
  margin: 0 20px;
}

.setting-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

button {
  font-size: 24px;
  padding: 5px 10px;
}

#break-length,
#session-length {
  font-size: 24px;
  margin: 0 10px;
}

.timer {
  font-size: 28px;
}

#timer-label {
  margin-bottom: 10px;
}

#time-left {
  font-size: 48px;
  margin-bottom: 10px;
}

#start_stop,
#reset {
  font-size: 24px;
  padding: 5px 10px;
  margin-right: 10px;
}
